.back {
  background: #181a1b;
}

/* navbar */
.nav-container {
  justify-content: left;
  padding: 10px;
  padding-top: 25px;
}

.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: left;
  padding-top: 25px;
  background-color: #212425;
  padding-bottom: 25px;
}

.item-nav {
  display: inline;
  padding-left: 5px;
  font-size: 20px;
  margin-right: 25px;
}

.page {
  text-decoration: none;
  padding-left: 50px;
  color: white;
}

/* about */
.intro {
  /*
  text-align: right;
  padding-right: 25px;
  */
  justify-content: center;
  color: white;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.socials {
  display: flex;
  background: white;
  height: 70px;
  width: 70px;
  margin: 10px 15px;
  padding: 10px;
  border: 5px solid;
  border-color: #121212;
  border-radius: 10px;
}

.socials-container {
  display: flex;
}

.pfp {
  height: 400px;
  width: 300px;
  border-radius: 15px;
  margin-right: 50px;
  border: 5px solid;
  border-color: #121212;
  margin-bottom: 10px;
  justify-content: left;
}

.bio {
  display: flex;
  text-align: left;
  padding: 15px;
  background-color: #e2f8fb;
  border: 5px solid;
  border-color: #121212;
  border-radius: 15px;
  width: 500px;
}

/*Course/Skills */
.experience {
  margin-left: 10px;
  margin-right: 22px;
  margin-top: 25px;
  float: left;
}

.work-des-container {
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.work-des {
  font-size: 15px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 24px;
}

.courses {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 29px;
  float: left;
}

.skills {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 4px;
  float: left;
}

.education {
  margin-left: 10px;
  margin-right: 19px;
  margin-top: 25px;
  float: left;
}
.edu-des {
  font-size: 15px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 17px;
  margin-right: 64px;
}
.edu-des-container {
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 17px;
}

/* projects*/
.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card {
  background: white;
  width: 270px;
  height: 475px;
  margin: 10px;
  border-radius: 25px;
}

.card:hover {
  background-color: yellow;
}

.card-img1 {
  height: 175px;
  width: 275px;
  object-fit: contain;
  margin-top: 15px;
}
.card-text1 {
  font-size: 12pt;
  margin: 5px 20px 0px;
}
.card-link1 {
  text-decoration: none;
  color: black;
}

/* contact */
.message-in {
  height: 200px;
  margin-top: 10px;
}
